@import "./Variables/variables.scss"; // Import zmiennych
@import "./Home/Background.scss";
@import "./Home/Container.scss";
@import "./Home/Header.scss";
@import "./Home/Body.scss";
@import "./Home/Buttons.scss";
@import "./Home/Panels.scss";

.header,
.right-panel {
  .font-big {
    font-size: $font-large-size;
    font-weight: $font-weight-bold;
  }
}

header,
.right-panel,
.left-panel {
  .font-big {
    font-size: $font-large-size;
    font-weight: $font-weight-bold;
  }
  .font-small {
    font-size: $font-small-size;
    font-weight: $font-weight-bold-s;
  }
}
