@import '../Variables/variables.scss'; 

.header {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  width: 95%;
  height: 40px;
  padding: 20px;
  border-bottom: 1px solid $border-color; 
  margin-bottom: 0px;
  user-select: none;
}

.header-right {
  display: flex;
  align-items: flex-start; 
  gap: 10px; 
  justify-content: center; 
}

.header-right .button {
  height: 40px; 
  border-radius: $border-rad; 
  margin-top: -10px; 
}
// Header.scss
.header,
.right-panel {
  .font-big {
    font-size: $font-large-size;
    font-weight: $font-weight-bold;
  }
}

header,
.right-panel,
.left-panel {
  .font-big {
    font-size: $font-large-size;
    font-weight: $font-weight-bold;
  }
  header,
  .font-small {
    font-size: $font-small-size;
    font-weight: $font-weight-bold-s;
    color:$button-text;
  }
}
