@import '../Variables/variables.scss';

.left-panel {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: flex-start;
  height: 110%;
  position: relative;

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .border-line {
    position: absolute;
    right: 0;
    top: 0;
    height: 240%;
    width: 1px;
    background-color: $border-color;
    margin-top: -10px;
  }
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  align-items: flex-start;
  margin-left: 20px;
}
